src/lib/dummydata.json
{
  "Comment": "Manual Mode — Stage 1 Keyword Planner Pipeline",
  "StartAt": "InitializeContext",
  "States": {
    "InitializeContext": {
      "Type": "Pass",
      "ResultPath": "$",
      "Parameters": {
        "input.$": "$",
        "data": {}
      },
      "Next": "KeywordPlannerFetch"
    },
    "KeywordPlannerFetch": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:894037914878:function:keyword_planner",
      "Parameters": {
        "keyword.$": "States.Array($.input.keyword)",
        "geo.$": "$.input.geo",
        "variant_limit.$": "$.input.variant_limit",
        "min_monthly_searches.$": "$.input.search_volume_min"
      },
      "ResultPath": "$.kwp_fetch",
      "Next": "CheckKeywordFetchResults"
    },
    "CheckKeywordFetchResults": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.kwp_fetch.item_count",
          "NumericEquals": 0,
          "Next": "End_NoStableKeyword"
        }
      ],
      "Default": "KeywordPlannerClean"
    },
    "KeywordPlannerClean": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:894037914878:function:keyword_planner_clean_function",
      "Parameters": {
        "input_bucket.$": "$.kwp_fetch.s3_bucket",
        "input_key.$": "$.kwp_fetch.s3_key",
        "search_mode": "manual_search",
        "search_category.$": "$.input.search_category"
      },
      "ResultPath": "$.kwp_clean",
      "Next": "GoogleTrendsFetch"
    },
    "End_NoStableKeyword": {
      "Type": "Pass",
      "Result": {
        "status": "All variants removed — no stable variants from Keyword Planner"
      },
      "ResultPath": "$.kwp_status",
      "End": true
    },
    "GoogleTrendsFetch": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:894037914878:function:Google_trends",
      "Parameters": {
        "keyword.$": "$.kwp_fetch.limited_variants.selected_variants[*].keyword",
        "geo.$": "$.input.geo",
        "trend_window_months.$": "$.input.trend_window_months",
        "search_mode": "manual_search",
        "search_category.$": "$.input.search_category",
        "min_trend_score.$": "$.input.google_trend_score"
      },
      "ResultPath": "$.trends_fetch",
      "Next": "CheckTrendsFetchResults"
    },
    "CheckTrendsFetchResults": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.trends_fetch.filtered_count",
          "NumericEquals": 0,
          "Next": "End_NoStableTrends"
        }
      ],
      "Default": "GoogleTrendsClean"
    },
    "GoogleTrendsClean": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:894037914878:function:google_trends_clean_function",
      "Parameters": {
        "input_bucket.$": "$.trends_fetch.s3_bucket",
        "input_key.$": "$.trends_fetch.s3_key",
        "search_mode": "manual_search",
        "search_category.$": "$.input.search_category"
      },
      "ResultPath": "$.trends_clean",
      "Next": "CheckTrendResults"
    },
    "CheckTrendResults": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.trends_clean.rows",
          "NumericEquals": 0,
          "Next": "End_NoStableTrends"
        }
      ],
      "Default": "TrendsStageComplete"
    },
    "End_NoStableTrends": {
      "Type": "Pass",
      "Result": {
        "status": "All variants removed — no stable Google Trends interest"
      },
      "ResultPath": "$.trends_status",
      "End": true
    },
    "TrendsStageComplete": {
      "Type": "Pass",
      "Result": {
        "status": "Google Trends filtering complete"
      },
      "ResultPath": "$.trends_status",
      "Next": "CheckMarketplaceModules"
    },
    "CheckMarketplaceModules": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.input.enable_amazon",
              "IsPresent": true
            },
            {
              "Variable": "$.input.enable_amazon",
              "BooleanEquals": true
            }
          ],
          "Next": "AmazonFetch"
        },
        {
          "And": [
            {
              "Variable": "$.input.enable_alibaba",
              "IsPresent": true
            },
            {
              "Variable": "$.input.enable_alibaba",
              "BooleanEquals": true
            }
          ],
          "Next": "AlibabaFetch"
        }
      ],
      "Default": "End_NoMarketplaceSelected"
    },
    "AmazonFetch": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:894037914878:function:Amazon",
      "Parameters": {
        "keyword.$": "$.input.keyword",
        "size.$": "$.input.size"
      },
      "ResultPath": "$.amazon_fetch",
      "Next": "AmazonClean"
    },
    "AmazonClean": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:894037914878:function:amazon_clean_function",
      "Parameters": {
        "input_bucket.$": "$.amazon_fetch.s3_bucket",
        "input_key.$": "$.amazon_fetch.s3_key",
        "search_mode": "manual_search",
        "search_category.$": "$.input.search_category",
        "amz_price_min.$": "$.input.amz_price_min",
        "amz_price_max.$": "$.input.amz_price_max",
        "reviews_min.$": "$.input.reviews_min",
        "reviews_max.$": "$.input.reviews_max",
        "rating_min.$": "$.input.rating_min"
      },
      "ResultPath": "$.amazon_clean",
      "Next": "AmazonFCLCalculation"
    },
    "AmazonFCLCalculation": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:894037914878:function:amazon_fcl_enrichment",
      "Parameters": {
        "amazon_file.$": "$.amazon_clean.output_file",
        "fcl_percentage.$": "$.input.fcl_percentage"
      },
      "ResultPath": "$.amazon_fcl",
      "Next": "CheckAlibabaAfterAmazon"
    },
    "CheckAlibabaAfterAmazon": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.input.enable_alibaba",
              "IsPresent": true
            },
            {
              "Variable": "$.input.enable_alibaba",
              "BooleanEquals": true
            }
          ],
          "Next": "AlibabaFetch"
        }
      ],
      "Default": "MarketplaceStageComplete"
    },
    "AlibabaFetch": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:894037914878:function:Alibaba",
      "Parameters": {
        "keyword.$": "$.input.keyword",
        "size.$": "$.input.size"
      },
      "ResultPath": "$.alibaba_fetch",
      "Next": "AlibabaClean"
    },
    "AlibabaClean": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-north-1:894037914878:function:Alibaba_clean_function",
      "Parameters": {
        "input_bucket.$": "$.alibaba_fetch.s3_bucket",
        "input_key.$": "$.alibaba_fetch.s3_key",
        "search_mode": "manual_search",
        "search_category.$": "$.input.search_category",
        "margin_min.$": "$.input.margin_min",
        "moq_max.$": "$.input.moq_max",
        "supplier_rating_min.$": "$.input.supplier_rating_min",
        "verified_supplier.$": "$.input.verified_supplier"
      },
      "ResultPath": "$.alibaba_clean",
      "Next": "MarketplaceStageComplete"
    },
    "MarketplaceStageComplete": {
      "Type": "Pass",
      "Result": {
        "status": "Marketplace data collection complete"
      },
      "ResultPath": "$.marketplace_status",
      "End": true
    },
    "End_NoMarketplaceSelected": {
      "Type": "Pass",
      "Result": {
        "status": "No marketplace modules were enabled"
      },
      "ResultPath": "$.marketplace_status",
      "End": true
    }
  }
}